*.meta
Proyecto final simulacion/Assets/menus.meta
Proyecto final simulacion/Assets/menus/Interfaz_in.mp4.meta
Proyecto final simulacion/Assets/menus/Interfaz_out.mp4.meta
/Proyecto final simulacion/Library
